@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;700&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --border-rds: 10px;
  --first-color: rgb(41, 147, 247);
  --second-color: rgb(196, 243, 135);
  --third-color: rgb(47, 248, 231);
  --fourth-color: rgb(57, 191, 214);
}
body {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.start,
.menu {
  font-size: 1.5rem;
  position: relative;
}
.menu {
  border: none;
  margin: 1.5em 1em 0 0.3em;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: transparent;
}
.button__content {
  border-radius: 10px;
  border-radius: var(--border-rds);
  -webkit-border-radius: var(--border-rds);
  padding: 0.8em;
  position: relative;
  overflow: hidden;
}
/* shapes */
.button__content div {
  z-index: 3;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  filter: blur(14px);
}
.button__text {
  position: relative;
  z-index: 5;
}
.button__shape-1 {
  background-color: var(--first-color);
  transform: translate(-48px, -16px);
  animation: shape-1 7s 1s ease-out infinite;
}
.button__shape-2 {
  z-index: 3;
  background-color: var(--second-color);
  transform: translate(-12px, 16px);
  animation: shape-2 6s 1s ease-in infinite;
}
.button__shape-3 {
  background-color: var(--third-color);
  transform: translate(20px, -16px);
  animation: shape-3 5s 1s ease-out infinite;
}
.button__shape-4 {
  background-color: var(--fourth-color);
  transform: translate(48px, 16px);
  animation: shape-4 8s 1s ease-in infinite;
}
.shape {
  opacity: 0.7;
}
.button__shadow {
  width: 90%;
  height: 1.2rem;
  background: linear-gradient(
    90deg,
    var(--first-color) 10%,
    var(--second-color) 30%,
    var(--third-color) 60%,
    var(--fourth-color) 90%
  );
  border-radius: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -4px;
  z-index: 1;
  filter: blur(11px);
  opacity: 0;
  transition: opacity 0.5s;
}

.button:hover .button__shadow {
  opacity: 0.7;
}

@keyframes shape-1 {
  33% {
    transform: translate(-28px, 0);
  }
}
@keyframes shape-2 {
  33% {
    transform: translate(-28px, 28px);
  }
}
@keyframes shape-3 {
  33% {
    transform: translate(20px, 4px);
  }
}
@keyframes shape-4 {
  33% {
    transform: translate(48px, 0);
  }
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #1b1c1d 0%, #000000 100%);
  z-index: -2;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 15px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  border-radius: var(--border-rds);
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
}

.hide {
  opacity: 0;
}
.primary {
  background: linear-gradient(
    45deg,
    var(--first-color) 15%,
    var(--second-color) 35%,
    var(--third-color) 55%,
    var(--fourth-color) 95%
  );
  opacity: 0.9;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #16d9e3;
}
.board-wrapper {
  padding: 10px;
  max-width: 100%;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #484d5394 -4.6%, #030303d5 200.44%);
  border-radius: var(--border-rds);
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.timer {
  font-size: 1.5em;
  font-weight: 400;
}

@media (max-width: 500px) {
  .board-wrapper {
    max-height: 60%;
  }
  .board {
    max-height: 100%;
  }
  .menu {
    margin: 0 0.4em;
  }
  h3.timer {
    margin: 1em 0;
  }
  .button-wrapper {
    margin: 2em 0;
  }
}
